<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier Summary</title>
    <link rel="stylesheet" href="./css/carrierSum_style.css">
</head>
<body>
    <header>
        <h1>My Carrier Summary</h1>
    </header>
    <body>
        <h2>Overall</h2>
        <p>At the beggining, I used to work as system engineer positions while I was going to a university in the US as part-time jobs.  Additionally, I used to work as a car mechanic, too. :-)</p> 
        <p>I wanted to work in the US after the graduation. But, it was little bit after 911, there was no choice for me to stay in the US to work at that time due to the US policy.  So, I suddenly came back to Japan before I found a job.</p>
        <p>I worked in few Japanese companies whose IT divisions were closely worked in other countries than Japan. Other than that, I used to work in Global Companies whose headquarters are in the United States and some other countries.</p>
        <p>Actually, Japan has strong tendency not to catch up or utilize global standards and frameworks for pretty much everything including IT environment, usage, opeations, organization structure, working environment and os on.</p>
        <p>Due to such culture and background in Japan, it was very difficult to work well in such positions directly under and with Global teams in Japan environments. On the other hand, hopefully, I was working in the pretty latest IT environments and with new frameworks globally because most decisions about IT was made in the headquarters outside of Japan.</p>
        <br>
        <!-- MODAL TEST -->
        <div class="modal">
            <div id="login-form">
              <h2>Emailログイン</h2>
              <form action="#">
                <input class="form-control" type="text" placeholder="メールアドレス">
                <input class="form-control" type="password" placeholder="パスワード">
                <div id="submit-btn">ログイン</div>
              </form>
            </div>
          </div>
        </div>
        <br>
        <table>
            <tr class="title-row">
                <th>stages</th>
                <th>speciality 1</th>
                <th>speciality 2</th>
                <th>speciality 3</th>
                <th>speciality 4</th>
                <th>Notes</th>
            </tr>
            <tr class="row-1">
                <td>1</td>
                <td>System Development</td>
                <td>Ensuring user requirements</td>
                <td>System Monitoring</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row-2">
                <td>2</td>
                <td>System Development</td>
                <td>Business Operation Consultant</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row-3">
                <td>3</td>
                <td>IT Risk Management</td>
                <td>IT Service Management</td>
                <td>IT Service Desk</td>
                <td>IT process constultant</td>
                <td></td>
            </tr>
            <tr class="row-4">
                <td>4</td>
                <td>Internal IT supports and opeartions</td>
                <td>IT Risk Management</td>
                <td>IT Service Management</td>
                <td>IT process advisor</td>
                <td></td>
            </tr>
        </table>
        <div>
            <a href="../index.html">Back To Top Page</a>
        </div>
    </body>
    <footer></footer>
    
</body>
</html>