<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction about me</title>
    <link rel="stylesheet" href="css/contact_sytle.css">
    <script src="https://kit.fontawesome.com/761de3f5c1.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="container">
            <h1>Takumi Matsuo</h1>
            <nav class="header-nav">
                <li><a href="../index.html">About Me</a></li>
                <!-- <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li> -->
                <li><a href="./carrier_summary.html">Career</a></li>
                <li>Contact</li>
            </nav>
        </div>
    </header>
    <br>

    <img src="./public/images/0E63DDBC-728B-4ACC-A6A8-DF785AE7C660.jpg" alt="my image" id="my-image">

    <main>
        <div class="contact">
            <h2>Contact Information</h2>
            <p><span class="title">email: </span><span><a>takuisu@hotmail.com</a></span></p>
            <p><span class="title">Phone Number: </span><span>+81-90-4417-0581</span></p>
            <p><span class="title">Address: </span>not determined yet in Germany</p>
        </div>
    </main>


    <footer></footer>

</body>
</html>