* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #242f44;
    color: white;
    text-align: center;
}

header {
    background-color: white;
}

header h1 {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    font-size: 36px;
    text-align: center;
    color: #8c6b48;
    font-weight: 500;
}



table {
    margin: 50px auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    /* remove the little space between table borders */
    border-collapse: collapse;
}

table h1,
table h2,
table h3 {
    font-weight: 400;
    margin: 10px 25px;
}

th {
    border: 2px solid #8c6b48;
    color: #8c6b48;
    background-color: white;
}

td {
    border: 2px solid #8c6b48;
}

footer {
    height: 70px;
    margin-top: 50px;
}

footer nav {
    display: inline-block;
    margin: 0 auto;
    height: 80%;
}


footer a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
}

footer li {
    float: left;
    list-style: none;
    margin: 15px;
}


