body {
    margin: 0 auto;
    max-width: 1170px;
}

nav {
    background-color: blue; 
    height: 80px;
}

nav ul {
    margin: 0 auto;
    padding: 10px 40px;
}

nav li {
    float: left;
    list-style: none;
    padding: 20px 120px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}